.menu-bar {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: #555558; /* 背景顏色 */
}

.menu {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: #555558; /* 背景顏色 */
    -fx-cursor: hand; /* 鼠標指針 */
}

.menu:hover, .menu:focused, .menu:pressed, .menu:showing {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: rgba(32, 180, 150, 0.8); /* 滑鼠懸停時的背景顏色 */
}

.menu-item:hover, .menu-item:focused, .menu-item:pressed {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: rgba(32, 180, 150, 1); /* 滑鼠懸停時的背景顏色 */
}

.menu .label, .menu-item .label {
    -fx-text-fill: white; /* 文字顏色 */
}

.menu-item {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: rgba(32, 180, 150, 0.8); /* 背景顏色 */
    -fx-cursor: hand; /* 鼠標指針 */
}

.context-menu {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: rgba(32, 180, 150, 0.3); /* 背景顏色 */
}

.tab-pane, .tab, .tab-content-area {
    -fx-background-color: #202023; /* 背景顏色 */
    -fx-text-fill: white; /* 文字顏色 */
    -tab-text-color: white; /* 標籤文字顏色 */
    -fx-focus-color: transparent; /* 聚焦時的顏色 */
    -fx-faint-focus-color: transparent; /* 聚焦時的淡色 */
}

.tab-header-area, .tab-headers-region {
    -fx-background-color: #303033; /* 背景顏色 */
    -fx-text-fill: white; /* 文字顏色 */
    -tab-text-color: white; /* 標籤文字顏色 */
    -fx-focus-color: transparent; /* 聚焦時的顏色 */
    -fx-faint-focus-color: transparent; /* 聚焦時的淡色 */
}

.tab {
    -fx-cursor: hand; /* 鼠標指針 */
}

.tab-label {
    -fx-background-color: transparent; /* 背景顏色 */
    -fx-text-fill: white; /* 文字顏色 */
    -tab-text-color: white; /* 標籤文字顏色 */
    -fx-focus-color: transparent; /* 聚焦時的顏色 */
    -fx-faint-focus-color: transparent; /* 聚焦時的淡色 */
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent; /* 背景顏色 */
}

.tab:hover, .tab:selected {
    -fx-background-color: #555558; /* 滑鼠懸停或選擇時的背景顏色 */
}

.text-area, .text-area .content, .text-field, .text-field .content {
    -fx-focus-color: transparent; /* 聚焦時的顏色 */
    -fx-faint-focus-color: transparent; /* 聚焦時的淡色 */
    -fx-text-box-border: transparent; /* 文字框邊框顏色 */
    -fx-border-radius: 0 0 0 0; /* 邊框半徑 */
    -fx-background-radius: 0 0 0 0; /* 背景半徑 */
    -fx-background-insets: 0, 1; /* 背景內邊距 */
}

.text-area .scroll-pane, .text-field .scroll_pane {
    -fx-background-color: transparent; /* 背景顏色 */
}

.text-area .scroll-pane .viewport, .text-field .scroll_pane .viewport {
    -fx-background-color: transparent; /* 背景顏色 */
}

.text-area .scroll-pane .content, .text-field .scroll_pane .content {
    -fx-background-color: #555558; /* 背景顏色 */
}

.text-field {
    -fx-prompt-text-fill: #c0c0c0; /* 提示文字顏色 */
}

.text-area, .text-field {
    -fx-accent: red; /* 強調顏色 */
    -fx-select-on-focus: false; /* 聚焦時選中 */
    -fx-highlight-fill: black; /* 選中時填充顏色 */
    -fx-highlight-text-fill: black; /* 選中時文字顏色 */
}

.black-card {
    -fx-text-fill: #d4d4d4; /* 文字顏色 */
    -fx-control-inner-background: #1b191a; /* 內容背景顏色 */
    -fx-text-box-border: transparent; /* 文字框邊框顏色 */
    -fx-faint-focus-color: transparent; /* 聚焦時的淡色 */
    -fx-focus-color: transparent; /* 聚焦時的顏色 */
    -fx-prompt-text-fill: #a2a2a2; /* 提示文字顏色 */
}

.black-card .content {
    -fx-background-radius: 0; /* 背景半徑 */
}

#pnl_root .button {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: #202023; /* 背景顏色 */
    -fx-cursor: hand; /* 鼠標指針 */
}

#pnl_root .button:hover {
    -fx-background-color: #555558; /* 滑鼠懸停時的背景顏色 */
}

.table-view .table-column {
    -fx-alignment: CENTER; /* 內容對齊方式 */
}

.table-view:focused .table-row-cell:filled:selected .table-cell {
    -fx-background-color: #555558; /* 選中行時的背景顏色 */
}

.table-view {
    -fx-background-color: #303033; /* 背景顏色 */
    -fx-text-fill: white; /* 文字顏色 */
}

.table-view .label {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: transparent; /* 背景顏色 */
}

.table-view .table-column {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: #202023; /* 背景顏色 */
    -fx-border-color: #555558; /* 邊框顏色 */
    -fx-border-width: 0 1 0 0; /* 邊框寬度 */
}

.table-view .table-cell {
    -fx-text-fill: white; /* 文字顏色 */
    -fx-background-color: #303033; /* 背景顏色 */
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%); /* 選中時的背景顏色 */
    -fx-text-fill: white; /* 文字顏色 */
}

.list-cell:even {
    -fx-background-color: white; /* 背景顏色 */
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff; /* 滑鼠懸停時的背景顏色 */
    -fx-text-fill: white; /* 文字顏色 */
}

#chart_cpu .chart-area-symbol {
    -fx-background-color: #dda0dd, #d8bfd855; /* 符號背景顏色 */
}

#chart_cpu .chart-series-area-line {
    -fx-stroke: #dda0dd; /* 線條顏色 */
}

#chart_cpu .chart-series-area-fill {
    -fx-fill: #d8bfd855; /* 區域填充顏色 */
}

#chart_memory .chart-area-symbol {
    -fx-background-color: #a3a0dd, #a3bfd855; /* 符號背景顏色 */
}

#chart_memory .chart-series-area-line {
    -fx-stroke: #a3a0dd; /* 線條顏色 */
}

#chart_memory .chart-series-area-fill {
    -fx-fill: #a3bfd855; /* 區域填充顏色 */
}

#chart_thread .chart-area-symbol {
    -fx-background-color: #aa5555, #aa555555; /* 符號背景顏色 */
}

#chart_thread .chart-series-area-line {
    -fx-stroke: #aa5555; /* 線條顏色 */
}

#chart_thread .chart-series-area-fill {
    -fx-fill: #aa555555; /* 區域填充顏色 */
}

#chart_object .default-color0.chart-area-symbol {
    -fx-background-color: #dda0dd, #d8bfd855; /* 符號背景顏色 */
}

#chart_object .default-color0.chart-series-area-line {
    -fx-stroke: #dda0dd; /* 線條顏色 */
}

#chart_object .default-color0.chart-series-area-fill {
    -fx-fill: #d8bfd855; /* 區域填充顏色 */
}

#chart_object .default-color1.chart-area-symbol {
    -fx-background-color: #a3a0dd, #a3bfd855; /* 符號背景顏色 */
}

#chart_object .default-color1.chart-series-area-line {
    -fx-stroke: #a3a0dd; /* 線條顏色 */
}

#chart_object .default-color1.chart-series-area-fill {
    -fx-fill: #a3bfd855; /* 區域填充顏色 */
}

#chart_object .default-color2.chart-area-symbol {
    -fx-background-color: #aa5555, #aa555555; /* 符號背景顏色 */
}

#chart_object .default-color2.chart-series-area-line {
    -fx-stroke: #aa5555; /* 線條顏色 */
}

#chart_object .default-color2.chart-series-area-fill {
    -fx-fill: #aa555555; /* 區域填充顏色 */
}
