#btn_request{
    -fx-text-fill: white;
    -fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-border-color: white;
	-fx-border-width: 1;
}

#btn_request:hover{
	-fx-text-fill: #ffbb55;
    -fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-border-color: #ffbb55;
	-fx-border-width: 2;
}

#txt_content, #txt_content .content{
	-fx-focus-color:  #cecece;
	-fx-faint-focus-color:  #cecece;
}

#txt_content .scroll-pane .content{
    -fx-background-color: #cecece;
}